//
// Main
//

// Desktop mode
@include media-breakpoint-up(lg) {
  .app-main {
    // Footer not fixed
    :not([data-kt-app-footer-fixed="true"]) & {
      .app-content {
        padding-bottom: 0 !important;

        // Light Theme
        [data-bs-theme='light'] & {
          background-color: #f1f2f8;
        }

        // Dark Theme
        [data-bs-theme='dark'] & {
          background-color: #0f1014; // Customize this value based on your design
        }
      }
    }

  }
}
